<div class="page page--itemGame">
	<div class="itemPageWrapper">
	  <div class="itemList"></div>
	  <div class="itemDetail">
		<div class="itemImg">
		  <img src="" alt="card-img" />
		</div>
		<div class="infoWrapper">
		  <div class="rowWrapper" data-field="name">
			<div class="label"></div>
			<div class="content"></div>
		  </div>
		  <div class="rowWrapper" data-field="description">
			<div class="label"></div>
			<div class="content"></div>
		  </div>
		  <div class="rowWrapper" data-field="category">
			<div class="label"></div>
			<div class="content"></div>
		  </div>
		  <div class="rowWrapper" data-field="quality">
			<div class="label"></div>
			<div class="content"></div>
		  </div>
		  <div class="rowWrapper" data-field="quantity">
			<div class="label"></div>
			<div class="content"></div>
		  </div>
		  <div class="rowWrapper" data-field="gemcost">
			<div class="label"></div>
			<div class="content"></div>
		  </div>
		  <div class="rowWrapper" data-field="goldcost">
			<div class="label"></div>
			<div class="content"></div>
		  </div>
		</div>
		<div class="controls">
		  <div class="button button--red deleteButton">Delete</div>
		</div>
	  </div>
	  <div class="itemForm" style="display: none">
		<div class="itemForm_title">Add new item</div>
		<div class="inputWrapper">
		  <div class="label">name</div>
		  <input type="text" name="name" />
		</div>
		<div class="inputWrapper">
		  <div class="label">description</div>
		  <input type="text" name="description" />
		</div>
		<div style="display: flex; gap: 10px">
		  <div class="inputWrapper">
			<div class="label">category</div>
			<input type="text" name="category" />
		  </div>
  
		  <div class="inputWrapper">
			<div class="label">quality</div>
			<input type="text" name="quality" />
		  </div>
		</div>
		<div style="display: flex; gap: 10px">
		  <div class="inputWrapper">
			<div class="label">quantity</div>
			<input type="number" name="quantity" />
		  </div>
		  <div class="inputWrapper">
			<div class="label">gemcost</div>
			<input type="number" name="gemcost" />
		  </div>
		  <div class="inputWrapper">
			<div class="label">goldcost</div>
			<input type="number" name="goldcost" />
		  </div>
		</div>
  
		<div class="inputWrapper" data-field="image">
		  <div class="label">image</div>
		  <input type="file" multiple="false" name="imageFile" accept="image/*" />
		  <input type="text" multiple="false" name="imageName" />
		  <img class="preview" src="#" alt="Preview" style="display: none" />
		</div>
		<div class="inputWrapper">
		  <button class="button button--blue itemForm__button--add">Add</button>
		  <button class="button button--blue itemForm__button--edit">Edit</button>
		</div>
		<div class="itemForm__message" >
			Edit success
		</div>
	  </div>
	  <div class="controllers">
		<div class="button button--blue openFormAdd">Add</div>
		<div class="button button--blue openFormEdit" style="display: none">
		  Edit
		</div>
	  </div>
	</div>
  </div>
  