<div class="page page--itemApp">
	<div class="itemPageWrapper">
		<div class="itemList">
		
		</div>
		<div class="itemDetail">
			<div class="itemImg">
				<img src="" alt="card-img">
			</div>
			<div class="infoWrapper">
				<div class="rowWrapper" data-field="name">
					<div class="label"></div>
					<div class="content"></div>
				</div>
				<div class="rowWrapper" data-field="description">
					<div class="label"></div>
					<div class="content"></div>
				</div>
				<div class="rowWrapper" data-field="category">
					<div class="label"></div>
					<div class="content"></div>
				</div>
				<div class="rowWrapper" data-field="quality">
					<div class="label"></div>
					<div class="content"></div>
				</div>
				<div class="rowWrapper" data-field="quantity">
					<div class="label"></div>
					<div class="content"></div>
				</div>
				<div class="rowWrapper" data-field="gemcost">
					<div class="label"></div>
					<div class="content"></div>
				</div>
				<div class="rowWrapper" data-field="goldcost">
					<div class="label"></div>
					<div class="content"></div>
				</div>
			</div>
			<div class="controls">
				<div class="button button--yellow">Edit</div>
				<div class="button button--red">Delete</div>
				<div  class="button button--green">Save</div>
			</div>
		</div>
	</div>
</div>