<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet"  href="/stylesheets/reset.css">
  <link rel="stylesheet"  href="/stylesheets/styles.css">

    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
  </head>
  <body>
    <%- include('partials/header') %>
    <%- include('partials/itemApp') %>
    <%- include('partials/itemGame') %>

    <script src="/javascripts/utils.js"></script>
    <script src="/javascripts/constants.js"></script>
    <script src="/javascripts/itemApp.js"></script>
    <script src="/javascripts/itemGame.js"></script>
    <script src="/javascripts/index.js"></script>
  </body>
</html>